* {
    transition: all 0.25s linear !important;

}

.dropdown-item>img,
.navbar-brand>img {
    border-radius: 50%;
}

.bg-red {
    background-color: red;
}

.nav-link,
.navbar-brand {
    font-weight: 500;
    color: white;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    transform: scale(.85) translateY(-1.25rem) translateX(.15rem) !important;
}