* {
    transition: all 0.25s linear !important;

}

.dropdown-item>img,
.navbar-brand>img {
    border-radius: 50%;
}

.bg-red {
    background-color: red;
}

.nav-link,
.navbar-brand {
    font-weight: 500;
    color: white;
}